@import url('http://fonts.googleapis.com/css?family=Pacifico|Montserrat|Vollkorn+SC');

.top-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}
.profile, .giffies {
 max-width: 300px;
 width: 100%;
}
.works-container {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.works-header {
  padding-top: 1%;
}

.fancy {
  background-color: #000000;
  background-image: url("http://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

h1{
font-family: 'Vollkorn SC', serif;
color: #fff;
letter-spacing: -1px;
font-size: 58px;
}

p{
font-family: 'Montserrat', sans-serif;
}

h2{
font-family: 'Pacifico', cursive;
color: #ffe400;
font-size: 24px;
margin-bottom: 20px;
}
.title-name {
  font-family: 'Pacifico', cursive;
  color: #ffe400;
}

h3{
font-size: 24px;
color: #333;
float: left;
margin-right: 15px;
padding-top: 5px;
}

li {
  list-style: none;
}

ul.info{

padding: 0;
margin: 10px 0 0 0;
float: left;
}

ul.info li{
/*margin-bottom: 20px;*/
clear: both;
float: left;
}

ul.info li p{
font-size: 13px;
line-height: 45px;
color: #fff;
float: left;
margin: 0;
}


ul.info li p.social a{
width: 28px;
height: 28px;
color: white;
margin-right: 8px;
}
a:hover {
  text-decoration:none;
}
ul.info li p.social a:hover{
width: 28px;
height: 28px;
color: #ffe400;
text-decoration: none;
}
.reslink{
  color: white;
  text-decoration: none;
}
.reslink:hover{
  color:#ffe400;
}

.logo_box{
float: left;
border-right: 1px solid #ffffff;
position: relative;

}

 @media all and (max-width:468px) {
   body {
     overflow-x: scroll;
     overflow-y: hidden;
   }
.logo_box {
  border-bottom: 1px solid #303030;
  border-right: none;
  height: auto;
  }
h1{
  padding-top: 0;
  padding-bottom: 5%;
  }
}
@media all and (max-width:768px){
  .logo_box {
    border: none;
  }
}
@media all and (max-width:992px){
  h1 {
    /*padding: 0;*/
  }
  body {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .logo_box{
    /*border: none;*/
    height: auto;
  }
  #inner-container {
    margin: 0;
  }
}

#home-page{
  background: transparent;
  color: white;
  height: 100%;
}

#inner-container{
  max-width: 600px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

#connect-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.finga{
  cursor: pointer;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}